@font-face {
    font-family: "Source Code Pro";
    font-weight: normal;
    src: url(/static/font/SourceCodePro-Regular.otf);
}

@font-face {
    font-family: "DejaVu Sans Mono";
    font-weight: normal;
    src: url(/static/font/DejaVuSansMono.ttf);
}

html {
    background-color: #181a20;
    color: #ffffff;
    font-family: "DejaVu Sans Mono", "Source Code Pro", sans-serif;
    letter-spacing: 0.5px;
    line-height: 18px;
    font-size: 14px;
}

body {
    width: 800px;
    margin: 8px auto;
}

h1, h2, h3, h4, p {
    margin: 2px 0px;
}

a {
    color: #ffffff;
}

a:hover, hr {
    color: #a1a5a8;
}

a:active {
    color: #1353c9;
}

#header, #content, #footer {
    float: left;
    margin: 16px 0px 0px 0px;

    background-color: #2c2e34;
}

#header {
    width: 800px;
}

#profile a {
    float: left;
    height: 60px;
    padding: 10px;
}

#profile-img {
    float: left;
    width: 60px;
    height: 60px;

    border-radius: 50%;
}

#profile-text {
    float: left;
    margin: 22px 0px 0px 8px;

    font-size: 25px;
}

#sidebar {
    float: left;
}

#menu {
    padding: 10px;
    margin-top: 16px;

    background-color: #2c2e34;
}

#menu a {
    display: block;
    padding: 6px 0px 6px 0px;
}

#latest-post {
    width: 180px;
    padding: 10px;
    margin-top: 16px;

    background-color: #2c2e34;
}

#latest-post a {
    display: block;
}

#content {
    float: right;
    width: 564px;
    max-height: 800px;
    padding: 10px;

    overflow: auto;
}

#blog-list dd {
    margin: 8px 0px 0px 0px;
}

#about-links {
    float: left;
    width: 100%;

    text-align: center;
    text-decoration: none;
}

#about-links img {
    width: 32px;
    height: 32px;
    margin: 8px 0px 0px 2px;
}

#footer {
    width: 780px;
    padding: 10px;
}

#banners {
    float: left;
    text-align: center;
    width: 100%;
}
