@font-face {
    font-family: "Anonymous Pro";
    font-weight: normal;
    src: url(/static/font/AnonymousPro-Regular.ttf);
}

@font-face {
    font-family: "Anonymous Pro";
    font-weight: bold;
    src: url(/static/font/AnonymousPro-Bold.ttf);
}

html {
    font-family: "Anonymous Pro", monospace;
    font-size: 12pt;
    background-color: black;
    color: #ffffff;
}

body {
    width: 800px;
    margin: 8px auto;
}

h1, h2, h3, h4, p {
    margin: 2px 0px;
}

a {
    color: #ffffff;
}

a:hover, hr {
    color: #a1a5a8;
}

a:active {
    color: #1353c9;
}

.smallcaps {
    display: inline;
    font-variant: small-caps;
    font-size: 115%;
}

#header, #sidebar div, #content {
    background-color: #181a20;
    border: #a1a5a8 1px solid;
}

#header {
    width: 798px;
    height: 78px;
    margin: 16px 0px 0px 0px;
}

#profile {
    float: left;
    height: 60px;
    margin: 9px;
}

#profile-img {
    float: left;
    width: 60px;
    height: 60px;

    border-radius: 50%;
}

#profile-text {
    float: left;
    margin: 14px 0px 0px 8px;

    font-size: 200%;
}

#quick-links {
    float: right;
    margin: 24px 10px 0px 0px;

    text-align: center;
    text-decoration: none;
}

#quick-links img {
    width: 32px;
    height: 32px;
}

#sidebar {
    position: fixed;
}

#sidebar div {
    width: 170px;
    padding: 10px;
    margin-top: 16px;
}

#sidebar a {
    padding: 4px 0px 4px 8px;
    display: block;
}

#content {
    float: right;
    width: 570px;
    padding: 10px;
    margin: 16px 0px 16px 0px;

    text-align: justify;
}

.about-link {
    text-align: center;
}

.about-list {
    margin: 10px 0px 10px 32px;
}

.about-table {
    width: 100%;
    border-collapse: collapse;

    font-size: 11pt;
    text-align: center;
    background-color: #111111;
}

.about-table br {
    line-height: 160%;
}

.about-table tr {
    border: #a1a5a8 1px solid;
}

.about-table td {
    padding: 0px 10px 0px 0px;
}

.about-table img {
    padding: 2px 0px 0px 2px;
}

#blog-list dd {
    margin: 8px 0px 0px 0px;
}
